@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('/css/img/image\ 6\ \(1\).png');
}


@media screen and (min-width: 1023px){
    .mobile {
        display: none;
    }
    .mobile1 {
        display: none;
    }
    body {
        background-image: url('/css/img/image\ 6\ \(1\).png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    h1 {
        font-weight: bolder;
    }
    h2 {
        font-weight: bold;
    }
    * {
        margin-bottom: 0;
    }
    .wrapper {
        width: 100%;
        margin: auto;
    }
    .box {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .header .box {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .header {
        width: 100%;
        background-color: #11B9AF;
        height: 50px;
        display: flex;
        justify-content: end;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
        z-index: 1;
    }
    .h-logo {
        width: 110px;
        height: 20px;
        margin-left: 200px;
    }
    .menu {
        display: flex;
        list-style: none;
        font-size: 15px;
        justify-content: end;
        line-height: 50px;
    }
    .box span {
        margin-right: 78px;
    }
    .menu li {
        margin-right: 20px;
    }
    .box .menu a {
        text-decoration: none;
        color: white;
    }
    .box .a1 {
        color: white;
        text-decoration: none;
    }


    .under-header {
        background-image: url('img/image\ 1.png');
        background-size: 100%;
        background-repeat: no-repeat;
        height: 620px;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
    }
    .under-header .logo {
        margin-top: 23px;
        width: 787px;
        height: 223px;
    }
    .bottle_1{
        position: absolute;
        top: 120px;
        left: -250px;
    }
    .bottle_2{
        position: absolute;
        top: 120px;
        right: -250px;
    }

    .content{
        width: 100%;
        color: white;
        margin-top: 25px;
    }
    .content h1 {
        font-size: 50px;
        font-weight: bolder;
    }
    .content p {
        font-size: 24px;
        font-weight: lighter;
    }
    .block_1 {
        position: relative;
        background-image: url('img/image\ 3.png');
        background-size: 100%;
        width: 100%;
        height: 600px;
        text-align: left;
        margin-bottom: 25px;
    }
    .block_1 h1 {
        position: absolute;
        top: 40px;
        left: 25px;
    }
    .block_1 p {
        position: absolute;
        top: 108px;
        left: 25px;
        width: 400px;
        height: 363px;
    }
    .block_1 img {
        float: right;
    }
    .block_2 {
        position: relative;
        background-image: url('/css/img/image\ 4.png');
        background-size: 100%;
        width: 100%;
        height: 600px;
        text-align: right;
    }
    .block_2 h1 {
        position: absolute;
        top: 40px;
        right: 25px;
    }
    .block_2 p {
        position: absolute;
        top: 108px;
        right: 25px;
        width: 400px;
        height: 363px;
    }
    .block_2 img {
        float: left;
    }
    .footer_logo {
        margin-top: 45px;
    }
    .footer {
        width: 100%;
        height: 30px;
        background-color: #11B9AF;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
}
