@media screen and (max-width: 390px){
    body {
        background-image: url('img/image\ 6\ \(1\).png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .mobile {
        display: block;
    }
    .desktop_element {
        display: none;
    }
    .m-menu {
        position: absolute;
        right: 10px;
        top: 8px;
        width: 35px;
        height: 35px;
    }
    h1 {
        font-weight: bolder;
    }
    h2 {
        font-weight: lighter;
    }
    * {
        margin-bottom: 0;
    }
    .wrapper {
        width: 100%;
        margin: auto;
    }
    .box {
        max-width: 390px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .header .box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header {
        width: 100%;
        background-color: #11B9AF;
        height: 50px;
        display: flex;
        justify-content: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
        z-index: 1;
    }
    .header .box .h-logo {
        width: 110px;
        height: 20px;
    }
    .box .menu {
        display: flex;
        list-style: none;
        font-size: 15px;
        justify-content: end;
        line-height: 50px;
    }
    .box span {
        margin-right: 78px;
    }
    .box .menu li {
        margin-right: 20px;
    }
    .box .menu a {
        text-decoration: none;
        color: white;
    }
    .box .a1 {
        position: absolute;
        top: 15px;
        left: 17px;
        color: white;
        text-decoration: none;
    }


    .under-header {
        background-image: url('img/image\ 1.png');
        background-size: 100%;
        background-repeat: no-repeat;
        height: 190px;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 20px;
    }
    .under-header h1{
        font-size: 20px;
    }
    .under-header h2{
        font-size: 15px;
    }
    .under-header .logo {
        margin-top: 23px;
        width: 275px;
    }
    .bottle_1{
        position: absolute;
        top: 120px;
        left: -165px;
        display: none;
    }
    .bottle_2{
        width: 200px;
        position: absolute;
        top: -50px;
        right: 0px;
        display: none;
    }

    .content{
        width: 100%;
        color: white;
        margin-top: 25px;
    }
    .content h1 {
        font-size: 30px;
        font-weight: bolder;
    }
    .content p {
        font-size: 12px;
        font-weight: lighter;
        width: 150px;
    }
    .block_1 {
        position: relative;
        background-image: url('img/image\ 3.png');
        background-size: 250%;
        background-position: -100px;
        width: 100%;
        height: 390px;
        text-align: left;
        margin-bottom: 25px;
        overflow: hidden;
    }
    .block_1 h1 {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .block_1 p {
        position: absolute;
        top: 51px;
        left: 10px;
        width: 219px;
    }
    .block_1 img {
        position: absolute;
        width: 310px;
        right: -50px;
        top: 40px;
    }
    .block_2 {
        position: relative;
        background-image: url('img/image\ 4.png');
        background-size: 250%;
        background-position: -200px;
        width: 100%;
        height: 390px;
        text-align: right;
        overflow: hidden;
    }
    .block_2 h1 {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .block_2 p {
        position: absolute;
        top: 51px;
        right: 10px;
        width: 219px;
    }
    .block_2 img {
        width: 310px;
        position: absolute;
        left: -50px;
        top: 10px;
    }
    .block_3{
        width: 310px;
        margin-top: 25px;
        text-align: center;
    }
    .f-center {
        height: 120px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_logo {
        width: 100%;
    }
    .footer {
        width: 100%;
        height: 30px;
        background-color: #11B9AF;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
}
